OPENAI_API_KEY=qrrrrrrrrrrrrrrrrrrrrrrrrggt4h4h46h
LANGSMITH_API_KEY=ls-------------------------------------------------2e2
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=MULTI-AGENT-RESEARCH-SYSTEM
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com